body {
    margin-top: 150px;
    background-color: rgb(76, 145, 248);
    color: white;
    
}

section {
    font-weight: bold;
    padding: 3%;
    text-align: center;
    background-color:  rgba(253, 253, 234, 0.925);
    width: 280px;
    height: 360px;
    color: black;
    border-radius: 5px 5px;
    margin: auto;
    box-shadow: 3px 3px 3px rgb(83, 83, 83);
}

h1 {
    text-align: center;
}

label {

}

input {
    padding: 5px;
    border-radius: 3px 3px;
    border-width: 2px 2px;
    height: 20px;
    width: 270px;
    text-align: left;
}

#botao {
    background-color:  rgb(154, 225, 247);
    border-radius: 10px 10px;
    height: 50px;
    width: 150px;
    margin-top: 25px;  
    text-align: center;
}

#cadastro {
    text-align: left;
}

#botao:hover {
    background-color: rgb(76, 145, 248);}